Checks: "-*, cppcoreguidelines-init-variables,cppcoreguidelines-narrowing-conversions,performance-inefficient-string-concatenation,performance-faster-string-find,performance-inefficient-vector-operation,bugprone-suspicious-include,bugprone-macro-parentheses,bugprone-integer-division,cppcoreguidelines-pro-bounds-constant-array-index,readability-string-compare,performance-for-range-copy,bugprone-use-after-move,bugprone-string-integer-assignment,readability-avoid-const-params-in-decls -warnings-as-errors=bugprone-copy-constructor-init,bugprone-dangling-handle,bugprone-dynamic-static-initializers,bugprone-fold-init-type,bugprone-implicit-widening-of-multiplication-result,bugprone-integer-division,bugprone-macro-parentheses,bugprone-macro-repeated-side-effects,bugprone-unhandled-self-assignment,bugprone-use-after-move,cppcoreguidelines-init-variables,readability-qualified-auto,readability-static-accessed-through-instance,bugprone-suspicious-include"
