Language: Cpp
BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 120
UseTab: Never

AccessModifierOffset: -4
AlignAfterOpenBracket: Align

AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: Empty

BinPackArguments: false
BinPackParameters: false

AlwaysBreakTemplateDeclarations: Yes
BreakBeforeTernaryOperators: true
BreakStringLiterals: false

CompactNamespaces: false
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth: 8
ContinuationIndentWidth: 8
Cpp11BracedListStyle: true
FixNamespaceComments: true
IncludeBlocks: Preserve
IndentCaseBlocks: false
IndentCaseLabels: true
IndentGotoLabels: false
PointerAlignment: Left
ReflowComments: true
SortUsingDeclarations: true
