Language: Cpp
BasedOnStyle: Google
IndentWidth: 4

AccessModifierOffset: -4
AlignAfterOpenBracket: DontAlign

AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: Empty

AlwaysBreakTemplateDeclarations: Yes
BreakBeforeTernaryOperators: true
BreakStringLiterals: false
ColumnLimit: 120
CompactNamespaces: false
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth: 8
ContinuationIndentWidth: 8
Cpp11BracedListStyle: true
FixNamespaceComments: true
IncludeBlocks: Preserve
IndentCaseBlocks: false
IndentCaseLabels: true
IndentGotoLabels: false
PointerAlignment: Left
ReflowComments: true
SortUsingDeclarations: true
UseTab: Never